html {
    box-sizing: border-box;
}

/*
@see https://stackoverflow.com/a/16907625
*/
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

header{
    background-color: #000000;
    color: #ffffff;
    overflow: auto;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

input{
    margin: 0 0 1.5rem 0;
    padding: 0.5rem;
}

input[type="text"]{
    width: 100%;
}

input[type="text"], input[type="color"]{
    display: block;
}

button{
    border-radius: 0;
    border: 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #CCCCCC;
    color: #000000;
    border: 1px solid transparent;
    display:block;
    font-size: 20px;
}

button.primary{
    background-color: #000000;
    color: #ffffff;
}

@media(hover: hover){
    button:hover{
        background-color: #FFFFFF;
        color: #000000;
        border: 1px solid #000000;
    }

    button.primary:hover{
        background-color: #555555;
        border: 1px solid #555555
    }
}

.select-color, .timezone, button.clearSettings{
    display: none;
}

.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
